 <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
<footer id="myFooter">
        <div class="container">
            <ul>
                <li><a href="mailto:amfox005@louisville.edu" target="_blank">Contact Me</a></li>
                <li><a href="https://www.reddit.com/r/rarepuppers/" target="_blank">Cute Puppies</a></li>
                <li><a href="/rip_sir_spoonsalot"><i class="fa fa-spoon"></i></a></li>
                <li><a href="http://www.johngreenbooks.com/bio/" target="_blank">My Favorite Human</a></li>
                <li><a href="/flappy_aaron">Feeling Flappy?</a></li>
            </ul>
        <p class="footer-copyright">© 2017-2023 Aaron Fox</p>
        </div>
        <div class="footer-social">
            <a href="https://www.facebook.com/aaronfoxy3" class="social-icons" target="_blank"><i class="fa cfa fa-facebook"></i></a>
            <a href="https://github.com/aaronfox" class="social-icons" target="_blank"><i class="fa cfa fa-github"></i></a>
            <a href="https://www.instagram.com/aaronfoxy/" class="social-icons" target="_blank"><i class="fa cfa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/aaronfoxrox/" class="social-icons" target="_blank"><i class="fa cfa fa-linkedin"></i></a>
            <a href="https://www.goodreads.com/user/show/23272581-aaron" class="social-icons" target="_blank"><i class="fa cfa fa-book">
<!--                NOTE: Refer to https://stackoverflow.com/questions/17941120/how-can-i-edit-font-awesome-or-include-my-own-icons to make a goodreads Font Awesome Icone since FA is too lame to have a Goodreads icon ddespite having 4 Facebook icons :/-->
                </i></a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
