 <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
<footer id="myFooter">
        <div class="container">
            <ul>
                <li><a href="mailto:amfox005@louisville.Edu" target="_blank">Contact Me</a></li>
                <li><a href="https://www.reddit.com/r/rarepuppers/" target="_blank">Cute Puppies</a></li>
                <li><a href="http://www.johngreenbooks.com/bio/" target="_blank">My Favorite Human</a></li>
            </ul>
        <p class="footer-copyright">© 2017 Aaron Fox</p>
        </div>
        <div class="footer-social">
            <a href="https://www.facebook.com/aaronfoxy3" class="social-icons" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://github.com/aaronfox" class="social-icons" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/Fox3Aaron" class="social-icons" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/aaronfoxrox/" class="social-icons" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.snapchat.com/add/aaronfox3" class="social-icons" target="_blank"><i class="fa fa-snapchat-ghost"></i></a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>