/* GENERAL CSS */
body {
    background-color: #fff7f7;
    font-family: 'Noto Sans',  sans-serif;
}

.navbar {
  background-color: #212121;
  border-radius: 0px;
  margin-bottom: -30px; 
}

.my-logo {
    height: 50px;
    margin-top: -7px;
}

.top-of-page {
    margin-top: 30px;
}

/* BLOG CSS */

.blog-index-page {
    background: #484848;
}

.blog-card-link {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

a.blog-card-link:hover {
    color: #d2d5db;
    font-weight: bold;
}

a.blog-card-link:link {
    text-decoration: none;
}
a.blog-card-link:visited {
    text-decoration: none;
}

a.blog-card-link:active {
    text-decoration: none;
}

.blog-card-body {
    margin-top: 2px;
}

.blog-card-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.blog-show-body {
    color: white;
    font-size: 16px;
}

/* FROM HOVER.CSS */
/* Thanks https://github.com/IanLunn/Hover */

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
  }
  100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/*
==============================================
fadeIn
==============================================
*/

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}



/* INDEX/ABOUT ME CSS */
.jumbotron {
    background-color: black;
    color: white;
    font-size: 8vw;
}

.drawing {
    position: relative;
}

.this-is-me{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    
}

.vcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*
.me-in-plaid {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
}
*/

.uofl {
  color: #AD0000;
  text-decoration: none;
}

.brown-fellows {
  color: #91662b !important;
  text-decoration: none;
}

a.uofl:hover {
  font-weight: bold;
}

a.uofl:link {
   color: #AD0000;
   text-decoration: none;
}
a.uofl:visited {
   color: #AD0000;
   text-decoration: none;
}

a.uofl:active {
   color: #AD0000;
   text-decoration: none;
}


.github {
  color: #6cc644;
  text-decoration: none;
}

a.github:hover {
  font-weight: bold;
}

a.github:link {
   color: #6cc644;
   text-decoration: none;
}
a.github:visited {
   color: #6cc644;
   text-decoration: none;
}

a.github:active {
   color: #6cc644;
   text-decoration: none;
}

.iarc {
  color: #6cc644;
  text-decoration: none;
}

a.iarc:hover {
  font-weight: bold;
}

a.iarc:link {
   color: #e0a32a;
   text-decoration: none;
}
a.iarc:visited {
   color: #e0a32a;
   text-decoration: none;
}

a.iarc:active {
   color: #e0a32a;
   text-decoration: none;
}


/*Font size for index page*/
.index-page-me-info {
    background: #e5e0e0;
}

/* row {
    background: #f8f9fa;
    margin-top: 20px;
  } */
.media-center{
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.index-page-list-image {   
  width:100%; /*makes sure all images are same width*/
  /* max-width: 20px; */
}

@media screen and (min-width: 1200px) {
    .index-page-me-info {
    background: #e5e0e0;
    font-size: 1.3vw;
}
}

.hub {
    color: #4078c0;
}

/*Formatting space at top of index page using media queries*/
@media screen and (max-width: 768px) {
  .format-top-index-page {
    margin-top: -50px;
}
}


/* =================================================================================== */
/* Blog header from https://github.com/BlackrockDigital/startbootstrap-clean-blog */
.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

@media only screen and (max-width:700px) {
    .resume {
    font-size: 2vw;
}
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

.equal > div[class*='col-'] {  
  display: flex;
  flex-direction: column;
}

/* FOOTER */

