
    <html>
        <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <link rel="stylesheet" type="text/css" href="/stylesheets/testing.css">

            
            <!-- <style>
                .row {
                    background: #f8f9fa;
                    margin-top: 20px;
                }
            
                .media {
                    -ms-flex-align: start;
                    align-items: center;
                }
            
                .index-page-list-image {
                    width: 100%;
                }
            </style> -->
        </head>
        <div class="">
            <div class="row">
                <div class="">
                    <div class="media">
                        <img class=" index-page-list-image" src="https://via.placeholder.com/157x20"
                            style="max-width: 33.33%">
                        <div class="">
                            <p class=""><strong>Volunteering</strong></p>
                            <p>Hi Test text. Test text. Test text. Test text. Test text. Test text. est text. Test text. Test
                                text. Test text. Test text. Test text. est text. Test text. Test text. Test text. Test text.
                                Test text. est text. Test text. Test text. Test text. Test text. Test text.</p>
                        </div>
                    </div>
            </div>
            <div class="col-xs-12">
                <div class="media">
                    <img class="index-page-list-image" src="https://via.placeholder.com/300x100" style="max-width: 33.33%">
                    <div class="">
                        <p class=""><strong>Volunteering</strong></p>
                        <p>Test text. Test text. Test text. Test text. Test text. Test text. est text. Test text. Test text.
                            Test text. Test text. Test text. est text. Test text. Test text. Test text. Test text. Test text.
                            est text. Test text. Test text. Test text. Test text. Test text.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="media">
                    <img class="index-page-list-image" src="https://via.placeholder.com/57x35" style="max-width: 33.33%">
                    <div class="">
                        <p class=""><strong>Volunteering</strong></p>
                        <p>Test text. Test text. Test text. Test text. Test text. Test text. est text. Test text. Test text.
                            Test text. Test text. Test text. est text. Test text. Test text. Test text. Test text. Test text.
                            est text. Test text. Test text. Test text. Test text. Test text.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </html>

    /* <!-- <html style="background-color:fuchsia"><p>
hello world</p>
<h1>arron </h1>
<img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/805/807/5fb.png"/>
    <h1 style="color:aquamarine">fox </h1> </html> --> */