<html style="background-color:fuchsia"><p>
hello world</p>
<h1>arron </h1>
<img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/805/807/5fb.png"/>
    <h1 style="color:aquamarine">fox </h1> </html>