<html style="background-image: url(https://i.pinimg.com/236x/69/c9/32/69c932b01c82c44dbebe9233e6c2f10f--collages-french-kiss.jpg)">
<head><link href="https://fonts.googleapis.com/css?family=Loved+by+the+King" rel="stylesheet"></head>
    <p style="font-family: 'Loved by the King', cursive; -webkit-text-stroke: 1px black; color: white; font-size: 30vh;">Carmen is loved by Aaron (most)</p>
    <img src="images/carmen_and_aaron.JPG">
</html>