<% include ../partials/header.ejs %>
 <body>
     
<div class="container-fluid resume">
    
    <h4 class="top-of-page" style="margin-bottom: 20px; margin-top: 50px;"><em>You can click <a href="pdfs/On_Solving_World_Hunger.pdf" target="_blank"> here</a> to read or download this wretched work of art in your preferred pdf reader</em> </h4>
    <div class="embed-responsive embed-responsive-16by9"> <!-- was 16by9 -->
  <iframe class="embed-responsive-item" src="http://docs.google.com/gview?url=http://www.aaronfox.me/pdfs/On_Solving_World_Hunger.pdf&embedded=true" allowfullscreen></iframe>
</div>
</div>
<% include ../partials/footer.ejs %>