<% include ../partials/header.ejs %>
 <body>
<!-- BEGIN NAVBAR -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand my-logo hvr-icon-spin" href="/"><img class="my-logo hvr-icon" src="images/fox_head.png"></a>
			</div><!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">About Me</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/resume">Resume</a>
					</li>
                    <% if(currentUser) { %>
                        <li>
                            <a href="#">Logged in as <%= currentUser.username %></a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    <% } %>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
<!-- END NAVBAR -->
	<div class="jumbotron text-center top-of-page">
		<div class="fadeIn">
			Hi, I'm Aaron Fox.
		</div>
	</div>
	<div class="container-fluid format-top-index-page">
        <div class="row">
            <div class="col-sm-6 index-page-me-info">
                <p class="top-paragraph-index-page">I love toying with computers and making (subjectively) cool stuff with them.</p>
                <p>I'm currently a senior at the <a class="uofl" href="http://louisville.edu/" target="_blank">University of Louisville</a> majoring in computer engineering and computer science.</p>
                <p>I'm on the never-ending journey of learning how to develop things
                    with computers and electronics that people find useful and/or interesting.
                    You can find some of the things I've done on my <a class="github" href="https://github.com/aaronfox" target="_blank">Git<span class="hub">Hub</span></a>.</p>
                    <p>Want some fast facts about Aaron Fox?</p>
                <ul>
                    <li>He's kind of obsessed with chicken, sweet potatoes, and pull-ups (specifically in that order).</li>
                    <li>He's really passionate about The Killers, Gwen Stefani, and Hamilton.</li>
                    <li>He doesn't have all of his brain. Really, he had two "golf balls" removed after a baseball incident. Feel free to ask him about it sometime.</li>
                </ul>
                <p>My university has treated me very well so far, and it continues to offer me awesome opportunities every day. Some things I've done include:</p>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="media">
                                <img class="pull-left img-responsive index-page-list-image" src="images/rr_logo.png" style="max-width: 33.33%">
                                <div class="media-body">
                                    <p class=""><strong>Leading</strong></p>
                                    <p>Managing projects as technology co-captain of Redbird Robotics, an organization which placed second in its first <a
                                        class="iarc" href="http://www.aerialroboticscompetition.org/" target="_blank">international competition</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="media">
                                <img class="pull-left img-responsive index-page-list-image" src="images/Global_Mamas_Logo.png" style="max-width: 33.33%">
                                <div class="media-body">
                                    <p class=""><strong>Volunteering</strong></p>
                                    <p>Planning a volunteer trip to Ghana where I volunteered my C# and SQL skills to help better the mission of an NGO there.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="media">
                                <img class="pull-left img-responsive index-page-list-image" src="images/REACH_Logo.png" style="max-width: 33.33%">
                                <div class="media-body">
                                    <p class=""><strong>Mentoring</strong></p>
                                    <p>Mentoring seventy first-year computer engineering and computer science students as a REACH ambassador.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="media">
                                <img class="pull-left img-responsive index-page-list-image" src="images/pdt.png" style="max-width: 33.33%">
                                <div class="media-body">
                                    <p class=""><strong>Bonding</strong></p>
                                    <p>Making some of my best friends and getting more involved in the Louisville community with the Phi Delta Theta Fraternity.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="media">
                                <img class="pull-left img-responsive index-page-list-image" src="images/RCR.png" style="max-width: 33.33%">
                                <div class="media-body">
                                    <p class=""><strong>Creating</strong></p>
                                    <p>Building autonomous drones to be used as a payload in a rocket for the River City Rocketry team.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" style="margin-bottom: 30px;">
                            <div class="media">
                                <img class="pull-left img-responsive index-page-list-image" src="images/JGBF_Logo.png" style="max-width: 33.33%">
                                <div class="media-body">
                                    <p class=""><strong>Learning</strong></p>
                                    <p>Participating as a fellow in the <a class="uofl brown-fellows" href="http://www.brownfellows.org/" target="_blank">Brown Fellows</a> scholarship program and receiving a wonderful education in computer science and computer engineering.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="drawing">
                    <!--TODO: Add a media query for the hvr-forward CSS in main.css-->
                    <img class="img img-responsive .center-block hvr-forward" src="images/Aaron_Ghana.jpg">
<!--                    <img class="this-is-me img img-responsive" src="images/this_is_me.gif">-->
                </div>
            </div>
        </div>
	</div>

<%include ../partials/footer.ejs %>
