<% include ../partials/header.ejs %>
 <body>
<!-- BEGIN NAVBAR -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand my-logo hvr-buzz" href="#"><img class="my-logo" src="images/fox_head.png"></a>
			</div><!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">About Me</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/resume">Resume</a>
					</li>
                    <% if(currentUser) { %>
                        <li>
                            <a href="#">Logged in as <%= currentUser.username %></a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    <% } %>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
<!-- END NAVBAR -->
	<div class="jumbotron text-center top-of-page">
		<div class="fadeIn">
			Hi, I'm Aaron Fox.
		</div>
	</div>
	<div class="container-fluid">
		<div class="col-sm-6 index-page-me-info">
			<p class="top-of-page">I love messing with computers and making cool stuff with them.</p>
			<p>I'm currently a sophomore at the <a class="uofl" href="http://louisville.edu/" target="_blank">University of Lousiville</a> majoring in Computer Engineering and Computer Science.</p>
			<p>I'm really enjoying learning about computers and am on the long journey of learning how to develop things that people will really enjoy using. You can see some of the things I've done on my <a class="github" href="https://github.com/aaronfox" target="_blank">Git<span class="hub">Hub</span></a> if that suits your fancy.</p>
            <p>Want three quick unwarranted facts about me?</p>
            <ul>
                <li>I don't have all of my brain. Really, I had two "golf balls" removed after a baseball incident.</li>
                <li>I have an odd obsession with pull-ups and muscle-ups</li>
                <li>I'm abnormally picky when it comes to the healthiness of food. I can't even remember the last time I've eaten cheese!</li>
            </ul>
            <p>I'll let this mysterious third person that was used in the <a class="uofl" href="http://www.brownfellows.org/">Brown Fellows</a> Pamphlet describe me:</p>
            <p><em>"<strong>Aaron Fox</strong> is a sophomore at the University of Louisville, where he is pursuing a degree in computer engineering and computer science. He enjoys involvement with the Louisville tech community; here, he is enjoying membership of the Speed School Association of Computing Machinery, developing indie games with Louisville Makes Games, and participating in as many hackathons as he can. He’s currently a member of Redbird Robotics where he is helping to design autonomous drones, and he is a REACH Ambassador mentoring seventy computer engineering freshmen. Aaron would like to research and apply computing concepts such as machine learning and artificial intelligence to make computers better the way humans can live."</em></p>
		</div>
		<div class="col-sm-6">
			<div class="drawing">
                <img class="this-is-me img img-responsive" src="images/this_is_me.gif">
                <img class="me-in-plaid img img-responsive .center-block hvr-forward" src="images/Aaron_in_Plaid_Shirt.png">
            </div>
		</div>
	</div>
<%include ../partials/footer.ejs %>