<% include ../partials/header.ejs %>
 <body>
<!-- BEGIN NAVBAR -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand my-logo hvr-buzz" href="/"><img class="my-logo" src="images/fox_head.png"></a>
			</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="/">About Me</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li  class="active">
						<a href="#">Resume</a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
<!-- END NAVBAR -->
<div class="container-fluid resume">
<h2 class="top-of-page">You can view an easier-on-the-eyes PDF version of my resume <a href="pdfs/Aaron_Fox_UofL_Resume_2017.pdf" target="_blank"> here</a></h2>
    <div class="row">
        <div class="col-xs-3"><strong>OBJECTIVE</strong></div>
        <div class="col-xs-6">First Computer Engineering/Science Co-op Position</div>
        <div class="col-xs-3">January 2 – May 4, 2018</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"><strong>EDUCATION</strong></div>
        <div class="col-xs-6"><strong>Bachelor of Science in Computer Engineering/Computer Science</strong></div>
        <div class="col-xs-3">Expected May 2020</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><strong>Master of Engineering in Computer Engineering/Computer Science</strong></div>
        <div class="col-xs-3">Expected May 2021</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">J.B. Speed School of Engineering, University of Louisville, Louisville, Kentucky</div>
        <div class="col-xs-3"><strong>GPA 4.0/4.0</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><em>Responsible for 100% of tuition</em></div>
        <div class="col-xs-3">Hours Completed: 75</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><strong>High School Diploma</strong></div>
        <div class="col-xs-3">May 2016</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">Randall K. Cooper High School, Union, Kentucky</div>
        <div class="col-xs-3"><strong>GPA 4.6/4.0</strong></div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"><strong>SKILLS/COURSEWORK</strong></div>
        <div class="col-xs-3">• Web Development - NodeJS</div>
        <div class="col-xs-3">• <strong>Python</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">• C, C++</div>
        <div class="col-xs-3">• Calculus 1-3, Differential Equations</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">• <strong>Java</strong></div>
        <div class="col-xs-3">• Android Development</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">• MongoDB</div>
        <div class="col-xs-3">• Data Structures</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">• C#, Unity</div>
        <div class="col-xs-3">• Arduino</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"><strong>APPLIED EXPERIENCE</strong></div>
        <div class="col-xs-3"><strong>Course Projects:</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>C/C++</strong>: Interfaced Arduino circuitry and code with a self-constructed windmill to perform calculations and display output to LCDs. (See <a target="_blank" href="https://www.github.com/aaronfox/ENGR-111-Arduino-Windmill-Display">github.com/aaronfox/ENGR-111-Arduino-Windmill-Display</a>.)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3"><strong>Independent Projects:</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">Personal Website and Blog. Used MongoDB, ExpressJS and NodeJS. (You're already here!)</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">Unity Game Development: Created a 3D shooting game with intelligent AI enemies</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>Redbird Robotics</strong>: Created a GUI using Python and implemented several APIs to pass data to and from the GUI and an autonomous drone.</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>Hackathons:</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>RevolutionUC (University of Cincinnati)</strong>: Created a fan hub based off the podcast Hello Internet, which included games such as “CGP Grey Flappy Bird” and “Podcast Bingo.” (see <a href="http://www.hellointernetbingo.com" target="_blank">hellointernetbingo.com</a>)</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>CatHacks 3 (University of Kentucky)</strong>: : Competed in the Gatton Fintech Challenge and created a web app called “Decentral,” a micro-lending loans prototype. (see <a href="https://www.github.com/aaronfox/Decentral" target="_blank">github.com/aaronfox/Decentral</a>.)</div>
    </div>
        
</div>
<% include ../partials/footer.ejs %>