<% include ../partials/header.ejs %>
 <body>
<!-- BEGIN NAVBAR -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand my-logo hvr-buzz" href="/"><img class="my-logo" src="images/fox_head.png"></a>
			</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="/">About Me</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li  class="active">
						<a href="#">Resume</a>
					</li>
                    <% if(currentUser) { %>
                        <li>
                            <a href="#">Logged in as <%= currentUser.username %></a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    <% } %>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
<!-- END NAVBAR -->
<div class="container-fluid resume">
    <h4 class="top-of-page" style="margin-bottom: 20px; margin-top: 50px;"><em>An easier-on-the-eyes PDF version of my resume is viewable <a href="pdfs/Aaron_Fox_UofL_Resume_2017.pdf" target="_blank"> here</a></em></h4>
    <div class="row">
        <div class="col-xs-3"><strong>OBJECTIVE</strong></div>
        <div class="col-xs-6">First Computer Engineering/Science Co-op Position</div>
        <div class="col-xs-3">January 2 – May 4, 2018</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"><strong>EDUCATION</strong></div>
        <div class="col-xs-6"><strong>Bachelor of Science in Computer Engineering/Computer Science</strong></div>
        <div class="col-xs-3">Expected May 2020</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><strong>Master of Engineering in Computer Engineering/Computer Science</strong></div>
        <div class="col-xs-3">Expected May 2021</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">J.B. Speed School of Engineering, University of Louisville, Louisville, Kentucky</div>
        <div class="col-xs-3"><strong>GPA 4.0/4.0</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><em>Responsible for 100% of tuition</em></div>
        <div class="col-xs-3">Hours Completed: 75</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><strong>High School Diploma</strong></div>
        <div class="col-xs-3">May 2016</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">Randall K. Cooper High School, Union, Kentucky</div>
        <div class="col-xs-3"><strong>GPA 4.6/4.0</strong></div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"><strong>SKILLS/COURSEWORK</strong></div>
        <div class="col-xs-4">• Web Development - NodeJS</div>
        <div class="col-xs-4">• <strong>Python</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-4">• C, C++</div>
        <div class="col-xs-4">• Calculus 1-3, Differential Equations</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-4">• <strong>Java</strong></div>
        <div class="col-xs-4">• Android Development</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-4">• MongoDB</div>
        <div class="col-xs-4">• Data Structures</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-4">• C#, Unity</div>
        <div class="col-xs-4">• Arduino</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"><strong>APPLIED EXPERIENCE</strong></div>
        <div class="col-xs-9"><strong>Course Projects:</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>C/C++</strong>: Interfaced Arduino circuitry and code with a self-constructed windmill to perform calculations and display output to LCDs. (See <a target="_blank" href="https://www.github.com/aaronfox/ENGR-111-Arduino-Windmill-Display">github.com/aaronfox/ENGR-111-Arduino-Windmill-Display</a>.)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3"><strong>Independent Projects:</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">Personal Website and Blog. Used MongoDB, ExpressJS and NodeJS. (You're already here!)</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">Unity Game Development: Created a 3D shooting game with intelligent AI enemies</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>Redbird Robotics</strong>: Created a GUI using Python and implemented several APIs to pass data to and from the GUI and an autonomous drone.</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>Hackathons:</strong></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>RevolutionUC (University of Cincinnati)</strong>: Created a fan hub based off the podcast Hello Internet, which included games such as “CGP Grey Flappy Bird” and “Podcast Bingo.” (see <a href="http://www.hellointernetbingo.com" target="_blank">hellointernetbingo.com</a>)</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>CatHacks 3 (University of Kentucky)</strong>: Competed in the Gatton Fintech Challenge and created a web app called “Decentral,” a micro-lending loans prototype. (see <a href="https://www.github.com/aaronfox/Decentral" target="_blank">github.com/aaronfox/Decentral</a>.)</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>Derby Hacks (University of Louisville)</strong>: Assisted with setting up the hackathon and learned how
hackathons work.</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"><strong>WORK EXPERIENCE</strong></div>
        <div class="col-xs-6"><strong>Great American Insurance Company</strong></div>
        <div class="col-xs-3">June 2016 - August 2016</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><em>DevOps Intern - 40 hours/week</em></div>
        <div class="col-xs-3">Cincinnati, OH</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">&nbsp;&nbsp;• Improved UI on the Health Dashboard for Code Complexity using JaCoCo using Java.</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">&nbsp;&nbsp;• Gave a Code Kata presentation demonstrating a basic workflow with Docker Hub.</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">&nbsp;&nbsp;• Explored efficient DevOps Agile techniques such as Scrum.</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><strong>Reach Ambassador</strong></div>
        <div class="col-xs-3">August 2017 - Present</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><em>General School Ambassador</em></div>
        <div class="col-xs-3">Louisville, KY</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">&nbsp;&nbsp;• Mentoring first year students and guiding them through their first year of college.</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3"><strong>ACTIVITIES/HONORS</strong></div>
        <div class="col-xs-9">Member, <strong>Redbird Robotics</strong>, June 2017 - Present</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">&nbsp;&nbsp;• Developed GUI and utilized various Python APIs</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">&nbsp;&nbsp;• Communicated with aerial robotics drone using the Robot Operating System (ROS)</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">&nbsp;&nbsp;• Used heavy version control to integrate all drone sub-team’s work</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">Member, <strong>Louisville Makes Games!</strong>, January 2017 - Present</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">&nbsp;&nbsp;• Participating in workshops and meetups to learn collaborative indie game development.</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">Member, <strong>Association of Computing Machinery (ACM)</strong>, August 2016 - Present</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">&nbsp;&nbsp;• Participating in the Hacking Student Interest Group</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>Brown Fellows Program</strong>, June 2016 - Present</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">&nbsp;&nbsp;• One of UofL’s premier full scholarships which includes two world travel enrichment projects.</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">&nbsp;&nbsp;• Currently planning enrichment project to improve Ghanaian communities through technology.</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>Valedictorian</strong>, Randall K. Cooper High School</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>Freshmen LEAD</strong>, August 2016 - June 2017</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">&nbsp;&nbsp;• Engaged in community events and developed leadership skills.</div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">&nbsp;&nbsp;• Initiated and carried out a Clinton Global Initiative Project with my team through Uspiritus.</div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><strong>Governor's Scholar</strong> Program Alumnus</div>
    </div>
</div>
<% include ../partials/footer.ejs %>