<% include ../partials/header.ejs %>
 <body>
<!-- BEGIN NAVBAR -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand my-logo hvr-icon-spin" href="/"><img class="my-logo hvr-icon" src="images/fox_head.png"></a>
			</div><!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="/">About Me</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li  class="active">
						<a href="#">Resume</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<!-- END NAVBAR -->
     
<div class="container-fluid resume">
    
    <h4 class="top-of-page" style="margin-bottom: 20px; margin-top: 50px;"><em>You can also click <a href="pdfs/Fox_Aaron_Resume.pdf" target="_blank"> here</a> to read or download my resume in your preferred pdf reader</em> </h4>
    <div class="embed-responsive embed-responsive-16by9"> <!-- was 16by9 -->
  <!-- <iframe class="embed-responsive-item" src="http://docs.google.com/gview?url=http://www.aaronfox.me/pdfs/Fox_Aaron_Resume.pdf&embedded=true" allowfullscreen></iframe> -->
<iframe class="embed-responsive-item"
	src="pdfs/Fox_Aaron_Resume.pdf"
	allowfullscreen></iframe>

</div>
</div>
<% include ../partials/footer.ejs %>