<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="stylesheets/spoon.css">
<link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
</head>
    <body>
        <div class="spoon-bg">
            <img class="centered zoom-spoon" src="images/angel_wings.gif">
            <img class="centered zoom-spoon" src="images/sir_spoonsalot_cut_out.png">
            <h1 class="rip">RIP Sir Spoonsalot</h1>
            <h1 class="rip">??? - 2017</h1>
            <h1 class="rip" id="gbnf">Lost but not forgotten</h1>
            <h4 class="mobile-alert" hidden="true">Mobile users: tap screen for sound</h4>
        </div>
<!--
        <audio autoplay>
          <source src="audio/Heavenly_Choir.mp3" type="audio/mpeg">
        </audio>
-->
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/spoon_adjust.js"></script>
</html>