<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/spelling_bee.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <!--<h1>hello world</h1>
            <h1 class="word">Word: _______hi___</h1>
            <h2>Hmm</h2>
            <script>
                console.log("lookup == ");
            </script>
            <script type='text/javascript'>
                var rows = <//%-JSON.stringify(ret_val)%>;
                console.log(rows);
                console.log(rows.config);
//                var rows_stringify = JSON.stringify(lookup);
//                console.log(rows_stringify);
            </script>-->
        <div id="contact">
            <div class="row justify-content-center">
                <h1>A Foxy Spelling Bee 2019</h1>
            </div>
            <div class="row justify-content-center">
                <h2 id="definition">Definition:
                    <%=wordObject.definition%>
                </h2>
            </div>
            <div class="row justify-content-center">
                <form action="/spelling_bee/nextWord" method="post" class="form-inline" id="next_word" autocomplete="off">
                    <div class="form-group">
                        <input class="form-control left-margin" type="text" id="spelling_attempt" name="spelling"
                            placeholder="Your spelling here" autofocus autocomplete="off" autocorrect="false" spellcheck="false" autocapitalize="false"/>
                        <button type="button" class="btn btn-primary left-margin" id="check_spelling">Check Spelling</button>

                        <!-- <input type="submit" class="btn btn-success left-margin" value="Next Word" /> -->
                        <button type="button" class="btn btn-success left-margin" id="test_button">Next Word</button>

                        <button type="button" class="btn btn-warning left-margin" id="reset_score">Reset</button>
                        <!-- <button type="button" class="btn btn-error left-margin" id="test_button">Test</button> -->
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <h3 id="spelling-alert">&nbsp;</h3>
        </div>
        <div class="row justify-content-center">
            <audio controls autoplay id="pronunciation_audio_player">
                <source src="<%=wordObject.pronunciation%>" id="pronunciation_src" type="audio/mpeg"> Your browser does not support the audio
                element.
            </audio>
        </div>
        <div class="row justify-content-around">
            <h2 class="col-xs-6" id="player_one">Player 1: <div id="player_one_score">0</div>
            </h2>
            <h2 class="col-xs-6" id="player_two">Player 2: <div id="player_two_score">0</div>
            </h2>

        </div>
        <!-- <div id="my-element" style="width:100px; height:50px; background-color: black;">
            <span>My awesome text! jhb iub uyb yub hjb u bu buyb uyb uyb uyb uyb uyb uyv uyvuy vytvuy vuyv uyv uy vuy vuyv </span>
        </div> -->
        <p1 display="none" id="secret-entry-word">
            <%=wordObject.word%>
        </p1>
    </div>
    <script>
        $(document).ready(function () {
            var my_div = $("#definition");
            $("#test_button").on("click", function () {
                $.ajax({
                    dataType: "json",
                    url: "/spelling_bee_words/test_word"
                })
                    .done(function (data) {
                        $('#test_button').html(data.message);
                        $("#definition").html(data.definition);
                        $("#secret-entry-word").html(data.word);
                        // $("#pronunciation").attr("src", data.pronunciation);
                        // $("#pronunciation").play();
                        var audio = $("#pronunciation_audio_player");
                        $("#pronunciation_src").attr("src", data.pronunciation);
                        /****************/
                        audio[0].pause();
                        audio[0].load();//suspends and restores all audio element

                        //audio[0].play(); changed based on Sprachprofi's comment below
                        audio[0].oncanplaythrough = audio[0].play();
                        /****************/

                    });
            });

            // $(function () {
            //     $('#my-element').textfill({
            //         maxFontPixels: 36
            //     });
            // });
        });
    </script>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script src="../js/jquery.textfill.min.js"></script> -->
<script src="../js/spelling_bee_check.js"></script>

</html>