<% include ../../partials/header.ejs %>

<body>
    <!-- BEGIN NAVBAR -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed"
                    data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand my-logo hvr-icon-spin" href="/"><img class="my-logo hvr-icon"
                        src="../images/fox_head.png"></a>
            </div><!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">About Me</a>
                    </li>
                    <li class="active">
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/resume">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <header class="intro-header top-of-page" style="background-image: url('/images/blog_images/bf_in_europe/group_eu_picture.JPG')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Adventures in Europe with the Brown Fellows</h1>
                        <h2 class="subheading">An attempt to describe a trip with words that are clearly insufficient</h2>
                        <span class="meta">Posted by <em>Aaron Fox</em> on Mon Aug 07 2017</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid blog-content-start">
        <div class="container blog-show-body">
                <p><em>Alas, this journey lasted more than two weeks, but I only wrote about the first four days. I do believe it's very
                        much past the time I could properly recall everything that has happened now. </em></p>
                
                <h2><strong>Day 1 - Arriving in Paris and Strasbourg</strong></h2>
                <p>Oh, the joys of jet lag. The group of <a href="http://www.brownfellows.org" target="_blank">Brown Fellows</a> I was
                    traveling with was able to take a direct flight to Paris on a comfortable Delta with those wonderful touch screens
                    on the back of all of the seats. My goal during this flight was to read a fair chunk of <a
                        href="http://algorithmstoliveby.com/" target="_blank">Algorithms to Live By</a>, so I made sure to get started
                    right away before the inevitable tiredness and temporary brain rotting that result from sitting in a flying tube for
                    a while.</p>
                
                <p>I was able to get a solid five hours of reading in before my brain decided to bail. After writing up basic summaries
                    of the chapters I read during the flight, I decided to do what all bold men do on a flight: watch Moana. Moana had
                    such an excellent soundtrack and storyline that it's putting a lot of pressure on the top Disney princess movie of
                    all time, but Tangled may still be holding on to that top spot for now. Also, The Secret Life of Pets is a really
                    great animated film for someone who has about the attention span of a gnat left due to a long flight.</p>
                
                <p>On arriving in Paris, the fellows and I quickly boarded a train to Strasbourg, and we met all twenty of the fellows
                    in "The Bubble," Strasbourg's glass-enclosed train station that looks true to its name. There, roughly each fourth
                    of the group of twenty was assigned an apartment scattered about Strasbourg and we proceeded to buy some food and
                    other necessities to make the apartment living even more enjoyable. We were all given a generous per diem, so much
                    so that we could all buy whatever foods and goods around the city we wanted. This was ideal, of course, because
                    Europe has an endless supply of these shops for this reason.</p>
                
                <p>Strasbourg's central cathedral is imposingly beautiful. Our orientation took place in a classroom normally used by
                    Centre College for its study abroad program; it was really nice to be able to use the foundation already set by a
                    well-tested study abroad program to better the experience. After a walking tour of Strasbourg, the fellows all
                    enjoyed some wonderful hors d'oeuvres at the gernerous Fieberg’s place, the family who knows Strasbourg inside and
                    out and was able to teach us about so much of its history and culture. The hors d'oeuvres consisted of classic
                    French cheeses and meats and was especially delicious.</p>
                
                <h2><strong>Day 2 - Understanding the French Language and Strasbourgeois Culture</strong></h2>
                
                <p>The day began with a "Money and Logistics" class at the Centre classroom and was followed by a "Survival French"
                    class that covered the very basics of French. Personally, I’m much more comfortable with German, and, given this is
                    the Alsace region, I'll try to see if someone speaks English or German before I try to struggle with the French
                    language. I probably should have done some basic French Duolingo beforehand, but I incorrectly figured that more
                    French would speak English than they actually do.</p>
                
                <p>I cracked open three French eggs and downed some milk for breakfast. Unusually for me given my obsessive food habits,
                    I also ate some bread I bought from a French <em>boulangerie</em> the day prior. If I convince you of nothing else,
                    allow me to tell you that Viking bread is very excellent. For lunch, I and some fellows ate at a fine local
                    French-Italian restaurant so others could eat some Tarte Flambés while I, of course, ate some French meat and
                    veggies.</p>
                
                <p>Petite France was next on the list of places to go in Strasbourg. Petite France was the classic French town with many
                    a photo-worthy locations. The constant battle between looking like the foolish tourist who snaps pictures of pretty
                    sites and wanting all of the photos was brewing the whole trip. The fellows and I then traveled to the Contemporary
                    Art Museum in the Vauben part of Strasbourg. The Kandinsky "music" room containing a colorful array of abstract
                    shapes drawn specifically to resemble an opera written by Arnold Schönberg. Several classic Picassos were mixed in
                    with the addition of enchantingly creepy black and white films and paintings. *INCLUDE PAINTINGS HERE*</p>
                
                <p>After finishing out the Contemporary Art Museum, the group went to eat dinner at Au Pont Saint Martin back in Petite
                    France. I went against my normal dietary inclinations and gave in to the delicious and seemingly endless Tarte
                    Flambés served by the restaurant. I did get to enjoy some reasonably healthy salad though, so I can't complain.</p>
                
                <h2><strong>Day 3 - Art Lessons and Scavenging Strasbourg</strong></h2>
                
                
                <p>After prepping another round of eggs and milk for breakfast, my four roommates and I headed to the Centre classroom
                    on the other side of the city to learn about art from Dr. Jeff Fieberg of Centre college. Dr. Fieberg taught us the
                    basics of art and how it changed over time from Impressionism to Abstraction. We went through the various artists
                    and which respective art styles they were associated with.</p>
                
                <p>I quickly learned that Fauvism is my favorite style of art. The term is literally french for “the wild beasts,” which
                    is infinitely badass in itself. The vibrant colors that aren't intended to be realistic make observing art fun for
                    me. Plus, Fauves aren't limited to the type of form they use, which really adds to the possibilities of art that
                    Fauves can take on. Henri Matisse was a wonderful artist, and I do think that it's a tragedy that Fauvism itself was
                    so short lived. After going through the history of myriad art styles throughout history, Dr. Fieberg revealed his
                    scientific background in addition to his artistic knowledge by showing us some examples of how several different
                    colored lights interacted with each other along with the chemical layouts of paintings in general.</p>
                
                <p>After Dr. Fieberg's art (and science) lessons, the fellows and I split into groups across Strasbourg to scavenge the
                    city. We'll, scavenge the city for specific land sites in a "scavenger hunt." My particular group got so far as to
                    get to the center of the big five buildings in Strasbourg, which included the University of Strasbourg's Library,
                    Parc Palais du Rhin and the Préfecture de la région Grand-Est. This was by far the most visually impressive urban
                    site, as standing in the middle of a fountain square which housed five aged and magnificent buildings on its corners
                    and sides certainly made the human in all of us feel tiny compared to the sheer amount of history and construction
                    that had taken place around us.</p>
                
                <p>Nonetheless, our scavenging came to an abrupt halt when Strasbourg decided to rain down buckets of rain upon us. My
                    friends had a backpack, so at least my phone was spared the unwelcome shower that the rest of my body and clothes
                    experienced. Despite Strasbourg's downpours, the night ended well. The apartment at Boux cooked a particularly
                    scrumptious meal consisting of local French cuisine, and a fun and long night of cards and games commenced until we
                    were all too tired to play anymore. Sleep, of course, was not a priority over this two week trip, and I was not to
                    get much of it.</p>
                
                
                <h2><strong>Day 4 - Baden-Baden and Friedrichsbad</strong></h2>
                
                <p>Each fellow had the opportunity to choose a day trip to enjoy this day. The five options were hiking Mt St. Odile,
                    walking amongst the beautiful "little Venice" in Colmar, hiking to castles (and witness Monkey Mountain!) in Haut
                    Konigsberg, visiting the Maginot Line and its surrounding castles, or, last but not least, going to a luxury spa in
                    Baden-Baden, Germany, to bathe nude and go through an overly relaxing 17-step relaxation process.</p>
                
                
                <p>Without hesitation, I chose the wonderful nude baths of Baden-Baden.</p>
                
                <p>There are a few famous baths around Baden-Baden, but the soon-to-be-bathers and I decided to go with Friedrichsbad as
                    it had the most in-depth 17-step process. There were six of us coming, and it was fun planning the day ourselves
                    instead of having it all laid out for us beforehand. We hailed a taxi to take us from the Baden-Baden train station
                    to Friedrichsbad, and it was nice to use some more German with the taxi driver (a language that would quickly be
                    rendered useless once we went to Paris.)</p>
                
                <p>Initially removing all of my clothes right before some of my fellows was blush-worthy, but soon we all discovered how
                    silly it was to be embarrassed over our nudity. Seeing everyone so nude and so unconcerned about this fact
                    transformed my thinking of nudity; I felt a bit like the fabled Adam and Eve eating the apple, but in reverse. Why
                    concern ourselves with covering the parts of our body that everyone has? Nonetheless, I don’t think I’m moving to a
                    nudist colony anytime soon, as evidenced by my buying of many nice shirts from Celio, a French men’s clothing brand
                    which I enjoyed browsing through very much; they even played some of my favorite alternative hits while I was
                    shopping there! (Thanks again to the JGBF for affording me the opportunity to shop and purchase such dapper attire
                    from this hip store.)</p>
                
                <p>While that was a tangent, that’s a bit what bathing like the Romans once did felt like. All thoughts and cares
                    floated away of the current situation as the pleasures and relaxations of bathing took over, so the actual goings-on
                    at the baths was not entirely relevant or even remembered. Of course, we all took the Luxury package at
                    Friedrichsbad, so we were able to enjoy the sponge-scrubbing massage as well as the cream massage in addition to the
                    many baths. The bath temperatures ranged from the 18°C (64.4°F) cold-water bath to the hot-air bath of 68°C
                    (154.4°F). The process itself is too relaxing for words to be sufficient, so just let it be known that this pure,
                    unadulterated relaxation would be very hard to achieve elsewhere. It was in the last step of the process, in the
                    reading room, that I discovered my love for fruity tea, and I was especially fond of rose hip tea. The only English
                    reading material I could stumble upon was a brochure for the bath itself. I thus gained an oddly specific amount of
                    knowledge concerning the history of Roman baths around the area.</p>
                
                <p>After getting way more relaxation than any of the fellows and I ever deserved, we ventured out to the beautiful small
                    town of Baden-Baden and enjoyed the sights and sounds of the idyllic city. We even got to enjoy an oddly luxurious
                    meal; the waiter at this German-Mediterranean decided to randomly bring out half of his menu for us to enjoy for
                    free - we made sure to tip that waiter extraordinarily well for his generosity despite the fact that tipping is a
                    foreign concept in much of Europe.</p>
                
                <p>That night, I don’t think I’d ever enjoy such a relaxing slumber again.</p>
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </div>
</body>
<% include ../../partials/footer.ejs %>
