<% include ../../partials/header.ejs %>

<body>
    <!-- BEGIN NAVBAR -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed"
                    data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand my-logo hvr-icon-spin" href="/"><img class="my-logo hvr-icon"
                        src="../images/fox_head.png"></a>
            </div><!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">About Me</a>
                    </li>
                    <li class="active">
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/resume">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <header class="intro-header top-of-page" style="background-image: url('https://www.fairtradewinds.net/wp-content/uploads/2014/04/global-mamas-1-e1489724746597.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Appreciating the Incredible Moment that I&#39;m Living in</h1>
                        <h2 class="subheading">A bit of braggadocio mixed with much appreciation</h2>
                        <span class="meta">Posted by <em>Aaron Fox</em> on Tue Jan 30 2018</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid blog-content-start">
        <div class="container blog-show-body">
    <p><em>Oh, boy. Fair warning that this is a fairly naive, cringey and overconfident post of a young and very excited version of myself. Keeping it for the laughs if nothing else. This was a stream of consciousness written late at night.</em></p>
    
    <p>I don’t think life can get much better than it currently feels as of today, that is, January 30th 2018.
    
    <p>There, I admitted it. I feel so giddy about life that I just can’t reasonably foresee myself getting much happier.
        Okay, <em>maybe</em> if I ever find that perfect life partner too, but I'll cross that bridge when I get there.</p>
    
    <p>Right now, I am in the Spring 2018 Semester at the University of Louisville during my Sophomore year. I am currently
        the co-captain of one of the university’s up-and-rising organizations, Redbird Robotics, and we’re doing some awesome
        things with autonomous drones right now and competing in an international competition, IARC, down at Georgia Tech.
        The opportunity to help see over the operation over this difficult yet rewarding process has been a fun learning experience.</p>
    
    <p>I’m currently a REACH Ambassador at the university, meaning that I mentor around seventy other Computer Engineering
        and Computer Science majors and help ease their way into college. I am thoroughly enjoying keeping in contact and
        helping all these students throughout the year, and I hope they are benefiting from the guidance I am trying to give them as much
        as I am benefiting from being increasingly involved with campus and the students that make this campus so awesome.</p>
    
    <p>Being a Brown Fellow has been what has really opened so many opportunities here at UofL, and I’m forever grateful for
        the unending generosity and kindness that the Brown Foundation continues to give myself and the other Brown Fellows throughout the years.
        I’m currently in the works of receiving a $6000 enrichment project grant, and I plan to use
        that to go to Ghana to volunteer with this progressive and good-humored company called Global Mamas.
        Global Mamas works with local artisanal Ghanaian women who create handmade goods and sell them to enrich the lives
        of those women. Of course, a proper business needs some technology and software development to help facilitate the
        company, and that’s how I plan to assist them over the summer: I hope to help build up some of their technological
        infrastructure and embrace some of the local Ghanaian culture while I’m at it.</p>
    
    <p>Before I go to Ghana, though, I’ve been lucky enough to have gotten a co-op opportunity with the Johns Hopkins
        Applied Physics Laboratory in Maryland this summer. I know I can't reveal everything about what I’m going to do,
        but I’m very excited at the prospect of doing research and opening my eyes to some of the most advanced technologies
        and practices in my field.</p>
    
    <p>My academics are also going well. I graduated valedictorian of my high school class of around 400, sure,
        but I didn't really expect to still have a 4.0 in Computer Engineering and Computer Science after four semesters of
        college simply because Speed School has been so touted up for its difficulty coming in to it. I really doubt that I'll maintain this
        4.0 by the time I graduate simply because the amount of time required to do so would probably mean that I couldn't sleep, so I'd be fine
        with dropping the GPA just a bit eventually if it meant I had an overall more engaging and meaningful collegiate career.</p>
    
    <p>I'm also lucky enough to still be in good physical shape. I dead-lifted five plates for the first time
        last week, and 495 pounds was not something I thought I could ever lift as a semi-casual lifter even last year. I'm still
        able to do some basic calisthenics like the human flag, skin the cat, and muscle-ups for fun too. My favorite exercise is the weighted
        pull-up with 100+ pounds hanging from the weighted belt. I know one day that 190 pounds won't look so good on my frame, so I'm enjoying it while it lasts.
        I'm still able to consistently eat eggs, chicken, sweet potatoes, and quinoa all day every day, and
        I'm very fortunate to be in such a position to cook and prep these meals every day. My running total of three compound lifts is
        355 (squatting) + 285 (bench press) + 495 (deadlifting) for a total weight of 1140 pounds. This means a lot to me as
        a casual fitness enthusiast; breaking the 1000 lb club was always one of my end goals.
        One of my goals while doing all this is to maintain my physique
        without giving in to the inevitable bulkiness that some heavy weightlifters get. But then again, they can definitely
        lift a lot more than I can.</p>
    
    <p>To cap it all off, I’ve had the fun and joy of rushing Phi Delta Theta as a Phikeia this semester. I’ve met
        some of the smartest and well-natured young men in this fraternity. I have had amazing late-night
        conversations ranging from bidets to Kazakhstan, and I’m ecstatic at the continuing development of these
        relationships.
        Life has certainly taken a turn for the fortunate in my life, and I hope that I can appreciate and enjoy this moment
        as much as I can; I know these opportunities are rare, and I am incredibly lucky to be experiencing all this at once.</p>

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </div>
</body>
<% include ../../partials/footer.ejs %>